body{
    display:flex;
    max-width: 100vw;
    background: #333333;
    justify-content:center;
    color:#ffffff
}
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    body{
        padding:1rem;
    }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    body{
        padding:1rem 2rem;
    }
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    body{
        padding:1rem 5rem;
    }
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
    body{
        padding:1rem 10rem;
    }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
    body{
        padding:1rem 20rem;
    }
} */
